h1{
    color: rgb(66, 33, 33);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img{
    width: 20rem;
}

main{
    padding: 3rem;
}

.notas{
    text-align: justify;
}

@media (max-width: 700px) {
    header{
        flex-direction: column;
    }
}